<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/landing.css">
    <title>Coinsenda</title>
  </head>

  <body>
    <div class="layer"></div>
    <header>
      <div class="container">
        <a href="#" id="logo"><img src="img/logo.png" alt="Coinsenda" /></a>
        <div class="buy-sell">
          <div class="buy">
            <p>Precio de compra<br />$19.990.000 COP</p>
          </div>
          <div class="sell">
            <p>Precio de venta<br />$18.560.000 COP</p>
          </div>
        </div>
        <nav>
          <a href="#" id="menu-icon">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <ul>
            <li>
              <a href="#">Soporte</a>
            </li>
            <li>
              <a href="#" class="green">Ingresa</a>
            </li>
            <li>
              <a href="#" class="green">Regístrate</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="top">
      <div class="bot-skew"></div>
      <div class="container">
        <div class="row">
          <div class="span-full span-6 text-right">
            <h1>La forma más fácil de comprar y vender
              <span class="big">Bitcoins</span>
              <span class="col">en todo <b>Colombia</b></span>
            </h1>
            <a class="round" href="#">Crear Cuenta</a>
          </div>
          <div class="span-full span-6">
            <img src="img/lap-mobile.png" class="full-width" alt="Laptop" />
          </div>
        </div>
      </div>
    </section>
    <section class="bondades text-center">
      <div class="container">
        <h2>
          <span>Bondades</span>
        </h2>
        <div class="row">
          <div class="span-full span-4">
            <h4>
              <span class="bondad-01">Operamos las 24hs</span>
            </h4>
            <p>El Bitcoin no para, nosotros tampoco, compra y vende en pesos colombianos cuando quieras </p>
          </div>
          <div class="span-full span-4">
            <h4>
              <span class="bondad-02">Pensamos en vos</span>
            </h4>
            <p>Atención rápida, segura y personalizada </p>
          </div>
          <div class="span-full span-4">
            <h4>
              <span class="bondad-03">Hecho a tu medida</span>
            </h4>
            <p>Compra en efectivo o transferencia bancaria, utilizando los múltiples medios de pago</p>
          </div>
          <div class="full-width pull-left text-center">
            <a class="round blue-bg" href="#">Crear Cuenta</a>
          </div>
        </div>

      </div>
    </section>
    <section class="steps">
      <div class="bot-skew"></div>
      <div class="top-skew"></div>
      <div class="container">
        <div class="round-steps">
          <div class="step">
            <span>1</span>
          </div>
          <div class="step">
            <span>2</span>
          </div>
          <div class="step">
            <span>3</span>
          </div>
        </div>
        <div class="step-content">
          <h4>Reg&iacute;strate</h4>
          <p>Crea una cuenta personal y segura con tu correo electr&oacute;nico o redes sociales</p>
        </div>
        <div class="step-content">
          <h4>Deposita</h4>
          <p>Utiliza los medios de pago tradicionales que funcionan en Colombia</p>
        </div>
        <div class="step-content">
          <h4>Recibe</h4>
          <p>Recibe tu saldo en Bitcoin o Pesos Colombianos dependiendo como tu quieras</p>
        </div>
      </div>
    </section>
    <section class="aprende text-center">
      <div class="container">
        <h2>
          <span>Aprende m&aacute;s</span>
        </h2>
        <div class="row">
          <div class="span-full span-4">
            <div class="videoWrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/y4ZkuymS_N4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <h4>¿Cómo funciona Coinsenda?</h4>
          </div>
          <div class="span-full span-4">
            <div class="videoWrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/y4ZkuymS_N4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <h4>¿Cómo comprar Bitcoins?</h4>
          </div>
          <div class="span-full span-4">
            <div class="videoWrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/y4ZkuymS_N4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <h4>¿Cómo cambiar Bitcoins a Pesos Colombianos?</h4>
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
      <div class="top-skew"></div>
      <div class="container">
        <div class="row">
          <div class="span-full span-3">
            <img src="img/logo-big.png" alt="Coinsenda" class="brand" />
          </div>
          <div class="span-full span-3">
            <h4>Legal</h4>
            <ul>
              <li>
                <a href="#">» T&eacute;rminos y Condiciones</a>
              </li>
              <li>
                <a href="#">» Políticas de privacidad</a>
              </li>
              <li>
                <a href="#">» Tratamiento de datos</a>
              </li>
            </ul>
          </div>
          <div class="span-full span-3">
            <h4>Ayuda</h4>
            <ul>
              <li>
                <a href="#">» FAQ</a>
              </li>
              <li>
                <a href="#">» Soporte</a>
              </li>
              <li>
                <a href="#">» Chat</a>
              </li>
            </ul>
          </div>
          <div class="span-full span-3">
            <h4>Contacto</h4>
            <ul>
              <li>
                <a href="mailto:info@coinsnda.com">» info@coinsnda.com</a>
              </li>
              <li>
                <a href="#" class="social"><img src="img/ico-fb.png" alt="Facebook" /></a>
                <a href="#" class="social"><img src="img/ico-ig.png" alt="Instagram" /></a>
                <a href="#" class="social"><img src="img/ico-tw.png" alt="Twitter" /></a>
              </li>
              <li>
                <a href="#"><img src="img/ico-col.png" /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
    $(window).on("load resize scroll", function(e) {
      $(".layer").height($("html").height());
    });
    </script>
  </body>

</html>
