/* landing start */

.landing.landing-banner {
  background: #24f69a;
  background: -moz-linear-gradient(top, #24f69a 0%, #37ba9f 100%);
  background: -webkit-linear-gradient(top, #24f69a 0%, #37ba9f 100%);
  background: linear-gradient(to bottom, #24f69a 0%, #37ba9f 100%);
  filter: progid: DXImageTransform.landing.Microsoft.landing.gradient( startColorstr='#24f69a', endColorstr='#37ba9f', GradientType=0);
  color: #fff;
  padding: 78px 70px 300px;
}

.landing.landing-banner h4 {
  font-size: 32px
}

.landing.steps .landing.pill {
  margin-bottom: 60px
}

.landing.steps h4 {
  margin: 40px 0 15px;
  font-size: 32px
}

.landing.steps p {
  font-size: 24px
}

.landing.steps {
  background: #fafafa;
  position: relative;
  z-index: 2;
  min-height: 610px;
}

.landing.steps:before, .landing.steps:after {
  background: inherit;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.landing.steps:before {
  top: 0;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.landing.steps:after {
  bottom: 0;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
}

.landing.features {
  background: #35bf9f;
  background: -moz-linear-gradient(top, #35bf9f 0%, #28e99b 100%);
  background: -webkit-linear-gradient(top, #35bf9f 0%, #28e99b 100%);
  background: linear-gradient(to bottom, #35bf9f 0%, #28e99b 100%);
  filter: progid: DXImageTransform.landing.Microsoft.landing.gradient( startColorstr='#35bf9f', endColorstr='#28e99b', GradientType=0);
  color: #fff;
  padding: 250px 0 150px
}

.landing.features h2 {
  font-size: 32px;
}

.landing.features .landing.pill {
  text-align: center;
}

.landing.features .landing.pill h3 {
  margin-bottom: 15px;
}

.landing.features .landing.pill p {
  font-weight: 100;
  font-size: 20px;
}

.landing.video {
  padding-top: 40px;
}

.landing.videoWrapper {
  position: relative;
  padding: 50px;
  /* height: 0; */
}

/* .landing.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.landing.price {
  background: #fafafa
}

.landing.price h2 {
  margin-bottom: 100px
}

.landing.price .landing.pill {
  box-shadow: 0 0 8px #ccc;
  background: #fff;
  color: #99999a;
  text-align: center
}

.landing.price .landing.pill h4 {
  padding: 15px;
  font-size: 36px;
  font-weight: 600;
  padding-top: 30px;
  margin: 0
}

.landing.price .landing.pill .landing.price-label {
  font-size: 36px;
  padding: 70px 0 90px;
  display: inline-block
}


/* landing end */


/* boarding start */
/*
.landing.panel-right h4 {
  font-size: 21px;
  margin-bottom: 30px
}
*/

.landing.account-activity {
  font-size: 14px;
  margin-top: 40px
}

.landing.panel-right .landing.tab-content {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .landing.175);
  box-shadow: 0 0 6px rgba(0, 0, 0, .landing.175);
}

.landing.panel-right .landing.nav-tabs,
.landing.nav-tabs>li.landing.active>a,
.landing.nav-tabs>li.landing.active>a:focus,
.landing.nav-tabs>li.landing.active>a:hover {
  border: none!important
}

.landing.panel-right .landing.nav-tabs>li {
  margin-bottom: 0
}

.landing.panel-right .landing.nav-tabs>li>a {
  border-radius: 0;
  background: #f5f5f5;
  color: #333;
  margin: 0;
  border: none!important;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .landing.175);
  box-shadow: 0 0 6px rgba(0, 0, 0, .landing.175);
}

.landing.nav-tabs>li.landing.active>a,
.landing.nav-tabs>li.landing.active>a:focus,
.landing.nav-tabs>li.landing.active>a:hover,
.landing.panel-right .landing.nav-tabs>li>a:hover {
  background: #fff;
  color: #1cb673;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .landing.175);
  box-shadow: 0 0 6px rgba(0, 0, 0, .landing.175);
  border-bottom: 0!important;
  position: relative
}

.landing.nav-tabs>li.landing.active>a:before,
.landing.nav-tabs>li.landing.active>a:focus:before,
.landing.nav-tabs>li.landing.active>a:hover:before {
  content: '';
  height: 10px;
  background: #fff;
  width: 99%;
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: -10px
}

.landing.panel-right .landing.tab-content img {
  max-width: 100%
}

.landing.first-time {
  background: #fff;
  z-index: 4;
  cursor: pointer;
  width: 100%;
  position: fixed;
  top: 66px;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 24px;
  text-align: center;
}

.landing.first-time h4 {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center
}

.landing.first-time .landing.link {
  padding: 20px 30px;
  border-radius: 50px;
  border: 2px solid #18af90;
  color: #18af90;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 21px
}

.landing.first-time .landing.link.landing.blue {
  background: #35bf9f;
  background: -moz-linear-gradient(left, #35bf9f 0%, #28e99b 100%);
  background: -webkit-linear-gradient(left, #35bf9f 0%, #28e99b 100%);
  background: linear-gradient(to right, #35bf9f 0%, #28e99b 100%);
  filter: progid: DXImageTransform.landing.Microsoft.landing.gradient( startColorstr='#35bf9f', endColorstr='#28e99b', GradientType=1);
  color: #fff;
  padding: 22px 30px;
  border: none
}

.landing.first-time .landing.link.landing.white:hover {
  background: #29b575;
  color: #fff
}

.landing.first-time .landing.link.landing.blue:hover {
  background: #fff;
  border: 2px solid #29b575;
  padding: 20px 30px;
  color: #29b575
}


/* boarding end */


/* profile start */

.landing.tab-pane h3 {
  margin: 30px 0;
  font-size: 18px;
  font-weight: 600
}

.landing.tab-pane h5 {
  font-size: 18px;
}

.landing.tab-content>.landing.tab-pane {
  padding: 30px
}

.landing.price .landing.tab-content>.landing.tab-pane {
  padding: 0
}


/* profile end */


/* deposit start */

.landing.green-top {
  padding: 15px 0;
  border-top: 1px solid #1cb673;
  float: left;
  width: 100%
}

.landing.payment-details {
  border-bottom: 1px solid #1cb673;
  float: left;
  width: 100%;
  margin: 30px 0
}

.landing.panel-currency .landing.total .landing.row {
  margin-top: 30px
}

.landing.panel-currency .landing.bottom {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc
}


/* deposit end */


/* two factor start */

.landing.two-factor {
  width: 300px;
  margin: 0 auto;
}

h4.landing.text-uppercase {
  font-weight: 700;
  margin-bottom: 30px
}

.landing.send {
  position: absolute;
  top: 4px;
  right: 0;
  width: auto!important
}


/* two factor end*/


/* responsiveness */
/*
@media (max-width: 767px) {
  .landing.tab-content>.landing.tab-pane {
    padding: 15px
  }
  .landing.button-container.landing.text-right {
    text-align: left
  }
  .landing.features {
    padding: 200px 0
  }
  .landing.landing-banner {
    padding: 150px 0 200px;
    text-align: center
  }
  .landing.first-time {
    padding-top: 40px
  }
  .landing.features .landing.pill {
    margin-bottom: 60px
  }
  .landing.steps .landing.pill {
    text-align: center
  }
  .landing.first-time .landing.left {
    margin-bottom: 50px
  }
}

@media (min-width: 768px) {
  .landing.verification-completed {
    padding: 15px 30% 15px 0
  }
  .landing.first-time .landing.content {
    height: 120px;
    position: relative;
    top: 40%;
  }
  .landing.first-time .landing.left {
    text-align: right;
    padding: 0 5% 0 10%
  }
  .landing.first-time .landing.right {
    text-align: left;
    padding: 0 10% 0 5%
  }
  .landing.price .landing.pill {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .landing.account-created {
    padding-bottom: 200px
  }
  .landing.price .landing.pill {
    max-width: 70%;
  }
  .landing.first-time .landing.link {
    font-size: 24px
  }
}

@media (max-width: 1199px) {
  .landing.price .landing.pill {
    margin-bottom: 40px
  }
  .landing.payment-method {
    margin-bottom: 15px
  }
}

@media (min-width: 1200px) {
  .landing.price .landing.pill {
    max-width: 60%;
  }
  .landing.first-time .landing.link {
    font-size: 30px
  }
}*/


/* common responsiveness end */
