
.HeaderLanding{
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  gird-template-rows: auto auto;
}

.zap{
  background: red !important;
}

#Headers{
  width: 100%;
  height: 90%;
  overflow: hidden;
  transform: skewY(-10deg);
  transform-origin: 0;
  position: absolute;
  background: linear-gradient(150deg, #0066AA, #1ea4ff);
  top: -60px;
}



.tierra img{
  opacity: 0.04;
}

#Headers span{
  position: absolute;
  height: 190px;
}

.header_first{
  width: calc(100% / 3);
  left: calc(calc(calc(100% / 3) / 2) * -1);
  background: #0065a9;
  top: 0;
}

.header_second{
  width: calc(100% / 3);
  top: 0;
  left: 16.66666%;
  left: calc(calc(100% / 3) / 2);
  right: auto;
  background: #0b7dca;
}

.header_third{
  width: calc(100% / 3);
  left: calc(calc(calc(100% / 3) / 2) + calc(100% / 3));
  bottom: auto;
  background: #0b7dca;
}

.header_four{
  width: calc(100% / 3);
  top: 380px;
  top: calc(190px * 2);
  right: calc(calc(calc(100% / 3) / 2) * -1);
  background: #23a6ff;
}

.header_five{
  width: calc(100% / 3);
  bottom: 0;
  background: #0063a5;
}


.tween{
  z-index: 3;
}
