#QuoteCurrenciesLanding{
  justify-self:center;
  width: 100%;
  max-width: 1150px;
  height: 80vh;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 17px -13px rgba(0,0,0,0.47);
  -moz-box-shadow: 10px 10px 17px -13px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 17px -13px rgba(0,0,0,0.47);
  display: grid;
}
