.subMenu {
  height: 7vh;
  min-height: 55px;
  position: sticky;
  width: 100%;
  top: 7vh;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);
  background: white;
  z-index: 2;
}

.DCsubItem {
  border-bottom: 2px solid transparent;
  width: 90px;
  color: #696969;
}

.noTamoActivos {
  opacity: 0.5;
}

.DCsubItem.DCactive {
  border-bottom: 2px solid #14b3f0;
  color: #14b3f0 !important;
}

.DCBack p {
  margin: 0 0 0 7px !important;
}

.DCBack {
  width: auto;
  padding: 15px;
  max-width: 70px;
  display: flex;
  align-items: center;
  color: #696969;
  z-index: 2;
}

#Imgfiat {
  position: relative !important;
  margin-right: 7px;
}

.menuContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
}

.DCTitle {
  position: absolute;
  justify-self: center;
  align-self: center;
  color: #696969;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.DCTitle.movil {
  grid-template-columns: repeat(4, 1fr);
}

.menuMovilItem.active .iconSty {
  align-self: flex-end;
}

.menuItem {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  grid-template-rows: auto 1fr;
}

.menuItem p {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  align-self: center;
}

.menuItem.movil {
  grid-template-rows: 1fr auto;
}

.menuItem.movil p,
.menuItem.active p {
  grid-template-rows: 1fr auto;
  color: #14b3f0;
}

.menuItem:hover p {
  color: #14b3f0;
}

.menuMovilIcon {
  width: 100%;
  height: 0;
  transition: 0.3s;
  overflow: hidden;
  display: grid;
  align-items: flex-end;
  justify-items: center;
  opacity: 0;
  transform: scale(0.7);
}

.menuMovilIcon.active {
  height: 30px;
  opacity: 1;
  transform: scale(1);
}

.menuMovilItem:hover {
  color: #14b3f0 !important;
  transition: 0.3s;
}

.menuItem:hover .menuMovilIcon {
  height: 30px;
  opacity: 1;
  transform: scale(1);
}

.menuMovilItem.active {
  border-bottom: 2px solid #14b3f0;
  color: #14b3f0 !important;
}

.DCTitle > p {
  font-size: 18px;
  margin: 0 !important;
  font-weight: 600;
}

.IWText {
  display: flex;
  align-items: center;
}

.subMenu a {
  text-decoration: none;
  color: gray;
}

.itemsMenu > div {
  width: 100px;
  height: 100%;
  background: gray;
}

.itemsMenu {
  grid-column-gap: 7px;
  width: 100%;
  position: absolute;
  height: 100%;
  align-self: center;
  justify-self: center;
  max-width: 400px;
  grid-template-columns: repeat(auto-fit, minmax(45px, 1fr)) !important;
}

/*.itemsMenu>a{
    min-width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    text-decoration: none;
    cursor: pointer;
}*/
