.WFC.DepositLayout{
  position: relative;
}

.WA .DLcontain{
  max-height: 90px;
  grid-row-gap: 20px;
}

.WA .DLcontain>p{
  margin: 0 !important;
}

.WA{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 110px 1fr;
  grid-row-gap: 30px;
  overflow-y: scroll;
}


.WA .closeModalButtonBack{
  position: absolute;
  top: -40px !important;
  left: -35px !important;
}
