
.itemSecurityCenter {
  width: 100%;
  height: auto;
  border: 1px solid transparent;
  border-bottom-color: #d5d5d6;
}

.securityCenterDetail_.contenido{
  padding-top: 55px;
  padding-bottom: 0;
}

.itemSecurityCenter[name=email], .itemSecurityCenter[name=identity]{
  display: none;
} 

.subItemSecurityCenter {
  min-height: 120px;
  height: auto;
  display: grid;
  grid-template-columns: minmax(auto,200px) minmax(350px,1fr);
  column-gap: 20px;
  margin: 15px 0;
  position: relative;
}

.subItemSecurityCenter div,
.subItemSecurityCenter p {
  /*border: 1px solid red;*/
  margin: 0 !important;
}

.contentSubItem {
  display: grid;
  grid-template-columns: minmax(350px,1fr) minmax(auto,200px);
  border: 1px solid transparent;
  border-bottom-color: #d5d5d6;
  /*border-top-color: #d5d5d6;*/
}



@media (max-width: 1440px) {
  .subItemSecurityCenter{
    grid-template-columns: minmax(auto,130px) minmax(350px,1fr);
  }
  .SCimgItemCont{
    justify-self: start;
  }
  .contentSubItem{
    /* grid-template-columns: minmax(350px,1fr) minmax(auto,200px); */
  }
  .contentSubText{
    row-gap: 10px;
  }
}

@media (max-width: 900px) {
  .subItemSecurityCenter{
    grid-template-columns: auto minmax(350px,1fr);
  }
}




.contCtaMovilSec {
  position: absolute;
  right: 0;
  height: 100%;
  width: 40px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.contCtaMovilSec i {
  /*color: gray;*/
  font-size: 18px;
}

.contentSubItem.last {
  border-bottom-color: transparent;
}

.SCdesc {
  font-size: 15px;
}

.rotateGono {
  animation-name: rotateLoader;
  animation-duration: 0.65s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(357deg);
  }
}

.contentSubItem p {
  /*margin: 15px 10px !important;*/
  margin: 0;
}

.SCverification {
  align-self: center;
  /*color: #59B200;*/
  font-size: 15px;
  height: 30px;
  display: flex;
  align-items: center;
}

.SCverification i {
  margin-right: 10px;
}

.SCtitle {
  display: flex;
  align-items: center;
  color: gray;
  font-size: 25px;
}

.SCtitle p {
  margin: 0 !important;
  color: gray;
}

.contentSubText.available {
  opacity: 1 !important;
}

.SCcta {
  align-self: center;
}

.SCcta #subItemSC,
.SCcta #ClassicView {
  transform: scale(0.9);
}

.SCcta.confirmed .botonForm.primary,
.SCcta.send .botonForm.primary {
  background: #59b200 !important;
  opacity: 0.4;
  display: none !important;
}

.SCcta.rejected {
  border-color: transparent !important;
} 

/* .contentSubItem.confir,
.SCcta.confirmed {
  animation-name: SCconfirmed;
  animation-duration: 1s;
  animation-iteration-count: infinite;
} */

@keyframes SCconfirmed {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

.anim-flow {
  animation-name: animFlow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes animFlow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.loaderScontainer .lds-roller div:after {
  background: green !important;
}

.enviarNero {
  margin-right: 10px;
  font-size: 18px;
  animation-name: enviarNero;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes enviarNero {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}

.loaderScontainer {
  position: relative;
  width: 30px;
}
.confirmedIndentSc {
  display: flex;
  color: green;
}

.confirmedIndentSc .lds-roller {
  transform: scale(0.3);
  height: auto !important;
  width: auto !important;
}

.contentSubText {
  color: gray;
  display: grid;
  align-items: center;
}

.SCimgItem {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}

.ScimgClassicView {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ScimgClassicView.classic_view svg {
  margin-right: 10px;
  transform: scale(0.7);
}

.SCimgItemCont {
  display: grid;
  align-items: center;
  justify-items: center;
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #d5d5d6;
  z-index: 1;
  transform: scale(0.94);
}

.SCimgItemCont.first {
  transform: scale(1.1);
}

.SCimgItemCont.active {
  border: 2px solid #1babec;
  box-shadow: none;
}

.SCconector {
  position: absolute;
  width: 7px;
  background: #d5d5d6;
  height: 100px;
  bottom: -40%;
}

.SCconector.active {
  background: linear-gradient(to bottom, #00d2ff, #3a7bd5);
}

.SCconector.last {
  display: none;
}


.SecurityCenter {
  width: 100%;
  height: 100%;
}


.SCtitle.tittle__success{
  color: var(--primary) !important;
}







@media (max-width: 768px) {

  .subItemSecurityCenter{
    min-height: 75px;
    grid-template-columns: 1fr;
    height: 55px;
  }
  
  .contentSubItem p {
    display: none;
  }
  
  .contentSubItem {
    grid-template-columns: 1fr;
    border-bottom: none;
  }
  
  .SCtitle {
    font-size: 16px;
  }
  
  .SCverification {
    display: none;
  }
  
  .SCcta {
    display: none !important;
  }
  
  
  .contentSubItem p {
    display: none;
  }
  
  .contentSubItem {
    grid-template-columns: 1fr !important;
    border-bottom: none !important;
  }

}


