
.copy{
    color: white;
    margin-left: 7px;
    cursor: pointer;
    transform: scale(1);
    transition: .1s;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.putito{
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.41) !important;
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.41) !important;
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.41) !important;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px !important;

    /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
      top: 130%;
      left: 50%;
      margin-left: -30px;
}

.nWaddressTxt{
  display: block;
  margin-left: 2px;
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.copy:hover{
  transform: scale(1.3);
}


.nWaddress{
  display: flex !important;
  align-items: center;
  justify-content: center;
}
