
.KycLayout{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  grid-template-rows: 60px 1fr auto;
}

.KycTitless{
  position: initial !important
}

.inputLabelsCont.loader, .InputContainerT.loader, .KycTitless.loader, .inputContainer3.loader p{
  background: #cacaca;
  border-radius: 6px;
}

.InputContainerT.loader{
  width: 65%;
  height: 100%;
}


.inputLabelsCont.loader{
  width: 45% ;
  height: 50%;
}

.inputContainer3.loader p{
  height: 20px;
  width: 120px;
  position: relative;
  left: 15px;
}

.KycTitless.loader{
  height: 35px;
  width: 200px;
}

.KycParra1.long_msg{
  font-size: 20px !important;
  max-width: 600px !important;
}


.KycTitle{
    position: absolute;
    top: 0;
    font-size: 35px;
    color:#0066AA;
    margin: 0 !important;
}

.KycTitle.financial{
    position: relative !important;
}

.KycLayoutBasicWin h1{
  text-align: center;
}

.KycLayoutBasicWin{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 10% 40% 15% 15% 20%;
  position: relative;
}


.contexpandibleKycPanel{
  height: 100%;
  width: 100%;
  max-width: 630px;
  opacity: 0;
}


.contexpandibleKycPanel.openSec{
  animation-name: openSec;
  animation-duration: .2s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(1,1,1,1);
}

@keyframes openSec{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.expandibleKycPanel{
  width: 100%;
  transition: .3s;
  overflow: hidden;
  display: grid;
  justify-items:center;
}

.KycParra1{
  font-size: 25px;
  color: #424242;
  text-align: center;
  max-width: 450px;
}

.KycTitles{
  margin: 0 !important;
  color: #0066AA;
  font-size: 35px;
}

.Kcontrols{
  width: 100%;
  display: flex;
  justify-content: center;
}

.KycLayoutMom{
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.Kyccontrols{
    width: 100%;
    font-size: 20px;
}

.Kyccontrols p{
  text-align: center;
  color: gray;
  font-size: 18px;
}

.globalStep0{
  top: 0;
}

.globalStep1{
  top: calc(-100vh + 80px);
}

.globalStep2{
  top: calc(-200vh + 160px);
}

.KycLayoutCarousel{
  width: 100%;
  height: 300vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, calc(100vh - 80px));
  /*grid-template-rows: repeat(3, 100vh);*/
  align-items: center;
  justify-items: center;

  position: relative;
  /*top: 0;*/
  transition: .3s;
  /* top: calc(-100vh + 80px); */

}

.ssoa{
  position: relative;
  background: black;
}

.KYCAstep2{
  background: yellow;
  margin: 0;
  height: 100%;
  width: 100%;
}

.puto1{

}

.containerKycAvanced{
display: grid;
width: 100%;
min-height: 100%;
position: relative;
transition: .3s;
top: 0;
grid-template-columns: calc(100vw - 80px);
grid-template-rows: repeat(2, calc(100vh - 160px));
/*grid-auto-rows: 100% 100%;*/
/*top: -100%;*/
}

.containerKycAvanced.desktop{
  /*grid-template-areas: "KycOnboarding KycDashboard ";*/
  grid-template-columns: 26vw 1fr;
  grid-template-rows: 1fr !important;
}


.KycOnboarding{
  /*background: red;*/
  transition: .3s;
  /*opacity: 0;*/
}
.KycDashboard{
  border-radius: 5px;
  overflow: hidden;
  /*height: calc(100% - 2px);*/
  border: 1px solid #0066AA;
  transition: .3s;
  position: relative;
}



.KycDashContainer{
  width: 100%;
  /*height: 100%;*/
  height: calc(100vh - 162px);
  display: grid;
  grid-template-rows: 100% 100%;
  transition: .35s;
  top: 0;
  /*top: -100%;*/
  position: relative;
}

.KycDashContainer.fileloader{
  top: -100% !important;
  background: #ffffffd1;
  z-index: 3;
}


.KycAvancedLayout{
  width: calc(100vw - 80px);
  height: calc(100vh - 160px);
  margin-top: 80px;
  overflow: hidden;
  position: absolute;
}

.auxDesma{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffffd4;
  z-index: 10;
  display: grid;
  align-items: center;
  justify-items: center;
}







/*kycDashboardLayout.js*/





.contButtonUpload{
  max-width: 200px;
  position: relative;
  cursor: pointer;
}

.contButtonUpload input{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.controlContainers{
  width: 100%;
  display: grid;
  align-items: center;
  justify-items:center;
}


.KycDashBoard{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items:center;
  position: relative !important;
}


.imgDashContainer{
  width: 100%;
  height: 90% !important;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 120px 60px;
  grid-row-gap: 7px;
  row-gap: 7px;
  max-width: 500px;
}


.imgDashContainer>p{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #636363;
  margin: 0 0 30px 0;
}




.imgDashCarousel{
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  align-items: center;
   column-gap: 3px;
  width: 100%;
  /*max-width: 400px;*/
  justify-self: center;
}

.imgDashStep i{
    position: absolute;
    color: green;
    font-size: 25px;
    right: 3px;
    top: 3px;
}

.kycPropgressed{
  height: 100%;
  width: 20%;
  transition: .3s;
  background: linear-gradient(to right, #129A8E , #37ED7D);

}

.tuVieja{
  margin: 0 !important;
  font-size: 30px !important;
}

.parrafeins{
  font-weight: normal !important;
}

.KycprogressBar{
  height: 7px;
  background: #80808026;
  width: 100%;
  position: absolute;
  top: 0;

}

.imgDashStep{
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 39px 0px rgba(0,0,0,0);
  height: 90px;
  transition: .25s;
  cursor: pointer;
  border: 1px solid #808080a1;
  transform: scale(.9);
  display: grid;
  align-items: center;
  justify-items:center;
  border-bottom: 2px solid transparent;
  opacity: .3;
  position: relative;
  /*border: 1px solid gray;*/
}

.imgDashStep:hover{
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.2);
  transform: scale(1);
  border: 1px solid #8080804a;
  opacity: 1;
  /*border-bottom: 2px solid #129A8E;*/
}


.imgDashStep.active{
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.2);
  transform: scale(1);
  border: 1px solid #8080804a;
  opacity: 1;
  border-bottom: 2px solid #129A8E;
}


.imgDashContainerD{
  width: 100%;
  height: 100%;
  /*background: black;*/
  transition: .45s;
  transform: scale(1);
  cursor: pointer;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-items:center;
  perspective: 350px;
}

.imgDashSon:hover{
  transform: scale(1.1);
  z-index: 2;
}

.imgDashSon{
  width: 70% !important;
  height: 80% !important;
  display: grid;
  align-items: center;
  justify-items:center;
  transform: scale(1);
  transition: .45s;
  position: relative;
  perspective: 850px;

}

.imgDashSon img{
    position: absolute;
    transition: .4s;
    /*transition: .01s;*/
}

.imgDCAnim{
  animation-name: imgDCAnim;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes imgDCAnim{
  0%{
    transform: scale(1);
  }

  30%{
    transform: scale(0.8);
  }

  60%{
    transform: scale(0.8);
  }

  100%{
    transform: scale(1);
  }
}

/*.backImg{
  transform: rotateY(0deg) !important;
}*/



/*.frontImgs{
  backface-visibility: hidden;
}*/

.frontImg{
  animation-name: imgDAnimSon;
  backface-visibility: hidden;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes imgDAnimSon{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(-180deg);
  }
}
.backInit{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.imgDashItem.backImg{
  animation-name: imgDAnimSon22;
  backface-visibility: hidden;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.imgDashItem.pasaporte{
  transform: scale(.7) !important;
}

@keyframes imgDAnimSon22{
  0%{
    transform: rotateY(180deg);
  }
  100%{
    transform: rotateY(0deg) !important;
  }
}

.continueKyc{
  font-size: 19px;
  color: gray;
}






/*KYC BASIC CONTAINER STYLES*/

.itemListCountry{
  width: 100%;
  height: 50px;
  border: 1px solid gray;
  border-radius: 6px;
}


.contCountryList{
  width: 100%;
  height: 65vh;
  overflow: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: repeat(auto-fill, 70px);
  grid-row-gap: 10px;
}

.contCountryList{
  padding: 0 10px;
  cursor: pointer;
}

.contCountryList::-webkit-scrollbar {
  width: 0px !important;
  background: transparent;
}

.contCountryList::-webkit-scrollbar-thumb {
  background: transparent !important;
}




/*KYC BASIC CONTAINER STYLES ITEM LIST*/

.ItemListKycBasic{
    width: calc(100% - 40px);
    height: 70px;
    border-radius: 6px;
    padding: 0 20px;
    display: grid;
    align-items: center;
    transition: .1s;
}

.ItemListKycBasic:hover{
    background: #f3f4f4;
}

.ItemListKycBasic p{
  margin: 0;
  display: flex;
  align-items: center;
  color: #50667a;
}

.ItemListKycBasic img {
    border-radius: 6px;
    margin-right: 10px;
}

.ItemListKycBasic.active p{
  color: #38ef7d !important;
}

.ItemListKycBasic.active{
  background: linear-gradient(to bottom right, #2B3742, #151B20);
  border: 1px solid #38ef7d;
}







/*CONFENTTI*/

.ConfettiComponent{
  width: 100%;
  height: 100%;
  background: gray;
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
}





































/*KYC FINANCIAL CONTAINER STYLES ITEM LIST*/



.KycFinancialComponent{
  height:calc(100% - 25px);
  width:100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto auto 1fr 20%;
  grid-row-gap: 10px;
  margin-top: 25px;
}

.KycFinancialComponent p{
  color: gray;
  width: 100%;
  max-width: 750px;
  text-align: center;
}

.loaderFinancial{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #ffffffc9;
  display: grid;
  align-items: center;
  justify-items:center;
}

.loaderFinancial_cont{
  position: relative;
  transform: scale(0.9);
}

.panelImgFinancial{
  position: relative;
  background: #f5f5f5;
  width: 100%;
  max-width: 750px;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.28);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.28);
}

.controlsFinancial{
  width: 100%;
  max-width: 750px;
  background: red;
  width: 100%;
  height: 100%;
}

.FinancialUploadImg{
  height: calc(100% - 40px);
  padding: 20px;
  display: grid;
  align-items: center;
  justify-items:center;
  position: relative;
}

.KycprogressBar.financial{
  bottom: 0 !important;
  top: auto !important;
}

.FinancialUploaded{
  transition: .3s;
  background: linear-gradient(to bottom, #2786c5, #0062a2);
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(auto-fill, 70px);
  grid-row-gap: 10px;
}


.loaderImgComponent{
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 2px dashed #3e87d9;
  border-radius: 6px;
  max-width: 450px;
  max-height: 290px;
  cursor: pointer;
  background: #f1f9ff;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  padding: 10px;
  transform:scale(.9);
  transition: .3s;
}


.textFinancial{
  color: #3e87d9;
  margin: 10px 0;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 10px;
  align-items: center;
  text-align: center;
  justify-items: center;
  width: 100%;
  max-width: 400px;
  /*font-size: 14px;*/
}


.payloadFinancial{
  display: grid;
  justify-items: center;
  position: relative;
}


#uploadIMGF{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.textFinancial .iconSty{
  animation-name: touchRUT;
  animation-duration: 1s;
  /*animation-fill-mode: forwards;*/
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1,1,1,1);
}

@keyframes touchRUT{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}








.item_loaded{
  width: calc(100% - 20px);
  margin: 0 10px;
  height: 100%;
  border-bottom: 1px solid white;
  align-items: center;
  color: white;
  display:grid;
  grid-template-columns: 55px 1fr 50px;
  grid-column-gap: 10px;
}

.item_loaded_text{
  color: white !important;
  font-size: 14px;
  text-align: left !important;
  margin: 0;
}

.item_loaded_text.fileName{
  font-size: 11px;
  color: #d4d4d4 !important;
  white-space: nowrap;
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.contIconS{
  transform: scale(.4);
  width: 70px;
  height: 80px;
}










.trasElUltimoNoHayNadiePuto{

}
