body{
  overflow-y: scroll;
  background: transparent;
}

@font-face {
  font-family: Museo;
   src:url('./MuseoSans_500.otf')
}

.fuenteMuseo{
  font-family: Museo;
}

#FooterLanding{
  width: 100vw;
  height: 500px;
  position: fixed;
  bottom: 0;
  background: linear-gradient(to bottom right, #495c6d, #101418);
  z-index: -1;
  display: grid;
  align-items: center;
  justify-items:center;
  grid-template-rows: 1fr 40px;
}


#FooterLanding h2{
  color: white;
}


#LandingPageContainer{
  width: 100vw;
  height: auto;
  background: #f3f3f3;
  position: relative;
  margin-bottom: 500px;
}

#LandingPageContainer h1 {
  margin: 0 !important;
}

.contItemLogo{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.HeaderLandingContent{
  width: 75%;
  height: 100vh;
  position: absolute;
  justify-self: center;
  z-index: 2;
  top: -40px;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 45px;
}

.headerFirstSection{
  display: grid;
  position: relative;
  justify-items:center;
  grid-row-gap: 10px;
}

.headerTitle{
  color: white;
  font-size: 50px;
  text-align: center;
}

.headerParr{
  color: white;
  text-align: center;
  /*font-size: 22px;*/
  width: 100%;
  margin: 15px 0;
}

.sections{
  height: 100vh;
  width: 100vw;
  display: grid;
}

.sections.faqs{
  height: 140vh;
  position: relative;
  justify-items: center;
}

.sections.features{
  align-items: center;
  height: calc(75vh - 120px) !important;
  /*padding-top: 120px;*/
}

.sections.metrics{
  align-items: center;
  height: 65vh;
  padding-top: 160px;
}

.sections.mobile{
  height: calc(70vh - 60px);
  display: grid;
  justify-items:center;
  align-items: center;
  position: relative;
  margin-top: 200px;
}


.sections.contact{
  position: relative;
  display: grid;
  justify-items:center;
}


.headerSecondSection{
  display: grid;
}


.logoComplete p{
  font-size: 50px;
}

.zap{
  background: red;
}

#trigger{
  /*background: red;*/
}


#headerTrigger{
  position: absolute;
  bottom: 0px;
  width: 80px;
  height: 5px;
}


.sections.reviews{
  position: relative;
}

.sections.publicRelations{
  position: relative;
  /*height: 390vh;*/
  height: auto;
}

.sections.video{
  height: 135vh;
}


.videoMovil{
  height: 150px;
  width: 100%;
  background: black;
  position: sticky;
  bottom: 0;
}

















@media only screen and (max-width: 768px) {

  .contItemLogo h1{
    font-size: 30px;
  }


  .sections.video h2{
    margin: 0;
    align-self: flex-end;
  }

  .sections.video{
    grid-template-rows: 80px 1fr;
    height: 120vh !important;
  }

  .VideoTutorialContainer{
    grid-template-columns: 1fr;
    position: relative !important;
  }

  .videoTutorialContainers{
    display: none;
  }

  .HeaderLanding{
   height: 120vh;
  }


  .HeaderLandingContent{
    width: 100% !important;
    top: 20px;
  }

  .cQuote{
    align-self: end;
  }

  .headerParr{
    font-size: 18px !important;
    width: auto !important;
    margin: 0 15px !important;
  }


  .sections.features{
    height: 100vh !important;
    /*margin-top: 50px;*/
  }

  #FeaturesContainer{
    max-height: none !important;
    height: 100%;
    max-height: 650px !important;
  }

  #QuoteCurrenciesLanding{
    /*max-height: 490px;*/
  }

}



@media only screen and (max-width: 330px) {

  .sections.video{
    margin-top: 50px;
  }

  .headerParr{
    font-size: 16px !important;
    width: auto !important;
    margin: 0 !important;
  }

}


@media only screen and (max-height: 670px) and (max-width: 375px) {

  #CountryWidgetComponent{
    grid-template-rows: 30% 70%;
  }

  #QuoteCurrenciesLanding{
    max-height: 440px;
  }

  .HeaderLanding{
    height: 133vh !important;
  }

}

@media only screen and (max-height: 812px) and (max-width: 375px) {

  #QuoteCurrenciesLanding{
    /*max-height: none !important;*/
  }

  #CountryWidgetComponent{
    grid-template-rows: 30% 70%;
  }

  #QuoteCurrenciesLanding{
    max-height: 520px;
  }

  .HeaderLanding{
    height: 100vh;
  }

  .countryQuotePrice div {
    align-items: center !important;
}

}


















































/**/
