.MenuSuperiorLayout{
  height: 7vh;
  width: calc(100% - 25px);
  background: linear-gradient(to right, #202830, #101418);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  /*padding: 0 25px 0 0;*/
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2;
  right: -1px;
  overflow: hidden;
  /*transition: .3s;*/


}
.capsuleMenu1{
  display: flex;
  padding-right: 30px;
}
.capsuleMenu2, .capsuleMenu1{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
}

.capsuleMenu2 img{
  position: absolute;
  padding-right: 20px;
  right: 0;
}

.capsuleMenu2 p, .capsuleMenu1 p{
  display: flex;
  align-items: center;
}

.capsuleMenu2 p{
  margin: 0 !important;
  color: white;
}

.containerMenuSuperior{
  height: 14vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  top: 0;
  width: calc(100% - 19vw);
  right: 0;
}
/*.headroom--unpinned{
  top: -100%;
}*/
.unpinned{
  top: -100% !important;
}

.pinned{
  top: 0% !important;
}

.cagando{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.itemSup {
    min-width: 40px;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.itemSup p{
margin: 0 !important;
}

.itemSup:hover{
  /*color:#14B3F0 !important;*/
  color:#fb6257 !important;

}

.itemSup i{
  /*margin-left: 7px;*/
}

.closeSesi{
  margin-left: 20px;
}

.closeSesi p{
  font-size: 15px;
}

.closeSesi i{
  margin-left: 10px;
}

.titi{
}

.contenedorLogoSenda{
  position: absolute;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

.contDinamic{
  width: calc(100% - 25px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.buy>span, .sell>span{
  display: flex;
  align-items: center;
}

.buy>span>i, .sell>span>i{
  font-size: 18px;
}

.buy.desktop{
  justify-self:right;
}

.sell.desktop{
  justify-self:left;
}

.buy.movil{
  justify-self:center;
}

.sell.movil{
  justify-self:center;
}

.cotization.desktop{
  grid-template-columns: repeat(2, 1fr);
}

.cotization.movil{
  grid-template-columns: 1fr;
}

.cotization{
  display: grid;
  width: 100%;
  display: grid;
  justify-items: center;
  width: 100%;
  column-gap: 30px;
}

.monto{
  font-size: 24px;
  margin: 0 15px;
  color:#37ED7D;
}

.loggedIn, .register{
 margin: 0;
 display: grid;
 align-items: center;
}

.register .botonForm{
  font-size: 16px !important;
}

.loggedIn .botonForm{
  background: linear-gradient(to right bottom, #00d451 , #005f24);
  padding: 0 15px;
  height: 40px;
  font-size: 16px !important;
}


.MenuLoggedOut{
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-column-gap: 20px;
  padding: 0 20px;
}

.MenuLoggedOut a{
  text-decoration: none;
  color: white;
}




























/**/
