
.QuoteLayout{
   width: 100%;
   height: 100%;
   display: grid;
   align-items: center;
   justify-items: center;
   position: relative;
 }

.QuoteLayoutContainer{
  max-width: 700px;
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 1fr;
  position: relative;
}




.Qprice{
  text-shadow: 1px 1px #656565;
}

.QuoteLayoutContainer div{
  /*border: 1px solid black;*/
}

.coinList>h1{
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.coinList{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-self: center;
}

.user_collection{
  grid-template-columns: repeat(3, 170px);
}

.coinList>div{
  display: grid;
  align-items: center;
}

.coinList>div>.item{
  opacity: 0.85;
    transform: scale(0.7);
    /*border: 1px solid #c1c1c1bf;*/
    color: #c1c1c1;
        background: linear-gradient(to bottom left, #2B3742, #060809);
}

.coinList>div>.item:hover{
    transform: scale(0.8) !important;
    border: 1px solid black !important;
    color: #1CA8EB !important;
    opacity: 1 !important;
}

.coinList>div>.item.itemSelection{
    transform: scale(0.77) !important;
    border: 1px solid black !important;
    color: #1CA8EB !important;
    opacity: 1 !important;
}


.itemSwitch{
  padding: 0 10px;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  opacity: 0.5;
  transition: .3s;
  border-bottom: 1px solid transparent;
}


.itemSwitch.active{
  opacity: 1;
  border-bottom: 1px solid white;
  /*color: lime !important;*/
}

.movilSwitch{
  justify-items:center;
  grid-template-columns: repeat(2, 1fr) !important;
}

.movilPrices{
  grid-template-columns: 1fr;
  grid-template-rows: 35% 1fr;
}

 .desktopPrices{
   grid-template-columns: repeat(2, 1fr);
 }

  .prices{
    /*border: 1px solid black;*/
    display: grid;
    color: white;
    column-gap: 10px;
  }

.desktopPrices div{
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 30% 1fr;
 align-items: center;
 width: 100%;
 justify-items: center;
}

.movilPrices div{
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows:1fr;
 align-items: center;
 width: 100%;
 justify-items: center;
}


.prices p, .prices h1{
  margin: 0 !important;
}

.prices h1{
  font-size: 35px;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.Qventa, .Qcompra{
  color: #00e800;
  margin-left: 10px;
}



h1>span{
  font-size: 25px;
}
