.WithdrawAccountList {
  width: 100%;
  max-width: 800px;
  justify-self: center;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 170px 1fr;
  grid-row-gap: 30px;
}

.listWA {
  width: 100%;
  display: grid;
  height: 100%;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(auto-fill, 120px);
  grid-row-gap: 30px;
}

.seccionPrinWA {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid gray;
}

@media only screen and (max-width: 768px) {
  .WithdrawAccountList {
    width: 90% !important;
  }

  .AccountItemList {
    grid-template-columns: 120px 1fr 30% !important;
  }

  .logoAIL {
    /*left: 7px !important;*/
    /*width: 90px !important;*/
  }
}
