#PanelAlertContainer{
  width: calc(100% - 40px);
  position: sticky;
  height: 50px;
  bottom: 0 !important;
  background: #ff122e;
  z-index: 99;
  display: none;
  padding: 0 20px;
  grid-template-columns: 30px 1fr;
  align-items: center;
  /*background: linear-gradient(to right, #e52d27, #b31217);*/
  /*background: #b31217;*/
}


.alertContainer p{
  margin: 0 !important;
  color: white;
}

.alertContainer {
  padding-left: 10px;
  font-size: 14px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  width: auto;
  grid-column-gap: 15px;
  align-items: center;
}

.alertContainerText{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 15px;
  align-items: center;
  cursor: pointer;
}

.alertContainerText:hover{
  color: yellow;
}

.alertContainerText a{
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
  /*height: 30px;*/
  display: grid;
  max-width: 135px;
  justify-items:center;
}

.alertContainerText a:hover{
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

#PanelAlertContainer.visible{
  display:grid;
}

.PanelAlertContainer i{
  color: white !important;
  font-size: 20px;
  justify-items: center;
  display: grid;
  cursor: pointer;
}

.PanelAlertContainer i:hover{
  transform:scale(1.2);
}
