.scores {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.barra {
  height: 5px;
  background: white;
  border-radius: 6px;
  width: 87%;
  position: relative;
  background: #3a4b5a;
}

.progresado {
  border-radius: 6px;
  /* background: linear-gradient(to bottom right, #B3FFAB, #0191F4); */
  background: #0198ff;
  height: 100%;
  transition: 3s;
}

.levelBar {
  position: absolute;
  top: -30px;
  width: 100%;
  display: flex;
  align-items: center;
}

.score,
.level {
  position: absolute;
  font-size: 12px !important;
  right: 0;
  margin: 0;
  color: #14b3f0;
}

#score.rejected {
  border: none !important;
  /*color: red !important;*/
  color: #ff6c6c !important;
}

.score {
  top: -22px;
  position: initial !important;
  margin-left: 6px !important;
}

#score {
  margin-left: 6px !important;
}

.level {
  width: 100%;
  bottom: -25px;
  color: white;
}

.level span {
  margin-left: 4px;
}

.stars {
  position: absolute;
  right: 0;
  color: white;
  bottom: -25px;
}

.star_icon {
  font-size: 12px;
  color: #ffca00;
  margin: 0 2px;
}

.rejected_anim {
  animation-name: rejected_anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rejected_anim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/**/
