#floatSupportContainer {
  width: 100px;
  height: 300px;
  transition: 0.3s;
  /*background: red;*/
  display: grid;
  align-items: center;
  justify-items: center;
  grid-row-gap: 10px;
  position: absolute;
  bottom: 0;
}

#floatSupportMask {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  bottom: 20px;
  right: 20px;
  display: grid;
  transition: 0.4s;
}

#floatSupportMask:hover {
  height: 350px;
}

#floatSupportMask:hover .second {
  opacity: 1;
}

.floatSupport {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  border: 1px solid gray;
  cursor: pointer;
  transition: 0.25s;
}

.floatSupport.second {
  border: 1px solid transparent;
  opacity: 0;
  transition: 0.1s;
}

.floatSupport.second:hover {
  border: 1px solid #1ea4ff !important;
}

#bubbleIcon {
  color: gray;
  font-size: 25px;
  transition: 0.25s;
}

#floatSupportContainer:hover .floatSupport {
  border: 1px solid transparent;
}

#floatSupportContainer:hover #bubbleIcon {
  color: #1ea4ff;
}

.floatSupport:hover {
  border: 1px solid white;
}

.floatSupport:hover #bubbleIcon {
  color: #1ea4ff;
}
