.base-container {
  display: grid;
  height: calc(100% - (10em));
  grid-template-columns: 65% 1fr;
  grid-template-rows: 1fr;
  padding: 4em 0;
  width: 90%;
  margin: auto;
  grid-column-gap: 45px;
}

#chart .highcharts-root {
  margin-top: 25px;
}

.cta-pair {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-items: center;
}

.general-buttom {
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgb(56, 239, 125) 0%,
    rgb(17, 153, 142) 100%
  );
  padding: 16px 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 2em;
  color: rgb(255, 255, 255);
  border: none;
  width: 151px;
  font-family: raleway-semibold;
  box-shadow: rgba(0, 0, 0, 0.09) -1px 0px 6px 3px;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.pair-list-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.pair-prices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.pair-prices p {
  margin: 0 !important;
}

.pair-prices .price {
  font-size: 14px;
}

.amount_price {
  margin: 0 !important;
  font-size: 28px !important;
  font-family: Tomorrow, sans-serif;
}

.price-container {
  text-align: center;
  display: grid;
  row-gap: 10px;
}

.price-container.buy {
  /* justify-self: end; */
}

.price-container.sell {
  /* justify-self: flex-start; */
}

.base-item-text-cont p,
.base-item-text-cont h2 {
  font-size: 17px !important;
  display: block !important;
  margin: 0 !important;
  text-transform: capitalize;
}

.base-item-text-cont p {
  padding: 0 !important;
  font-size: 14px !important;
  text-align: left !important;
}

.base-item-text-cont {
  display: grid;
  row-gap: 5px;
  justify-self: flex-start;
}

.pair-list {
  display: grid;
  grid-template-rows: repeat(auto-fill, 100px);
  row-gap: 10px;
}

.pair-list > div > img:first-child {
  height: 38px;
}

.base-item-content {
  width: 100%;
  height: 100px;
  max-width: 300px;
  border-radius: 6px;
  cursor: pointer;
  margin: auto;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 5px 2em;
  box-sizing: border-box;
  border-top: 7px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0) 2px 17px 34px;
  transition: 0.3s;
  grid-template-columns: auto 1fr auto;
  column-gap: 18px;
}

.item-content-active {
  height: 100px;
  border-top: 7px solid #04d499;
  box-shadow: rgba(0, 0, 0, 0.09) 2px 17px 34px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.highcharts-credits {
  display: none !important;
}

.img-disable {
  filter: grayscale(1);
}

.img-enable {
  filter: grayscale(0);
}

g.highcharts-scrollbar {
  display: none !important;
}

.root-content-items-calc {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-content-calc-number {
  height: 1.5em;
  width: 42%;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 4px;
}

.item-content-calc-number img {
  height: 18px;
  width: 18px;
  margin-right: 8px;
}

.item-content-calc-number input[type="number"] {
  height: 28px;
  padding-left: 10px;
  width: 65%;
  text-decoration: none;
  border: 0;
}

.item-content-calc-number input[type="text"] {
  height: 28px;
  width: 65%;
  padding-left: 10px;
  text-decoration: none;
  border: 0;
}

.item-content-calc-number *:focus {
  outline: none;
}

.exchange-arrows {
  width: 41px;
  margin: 0 12px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.exchange-arrows > img {
  height: 20px;
}

.exchange-label {
  color: #181d2b;
  margin-left: 10px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 34px;
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 7;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.arrow-down {
  margin: auto 20px;
  height: 20px !important;
  transform: rotate(90deg);
  transition: all 0.5s ease;
}

.cta-pair img {
  height: 30px;
}

@media (max-width: 900px) {

  .pair-prices{
    column-gap: 10px;
  }
    
  .price-container.buy{
    border-left: 1px solid gray;
    padding-left: 10px;
  }

  .prices-cta {
    font-size: 14px;
    width: 220px;
  }

  .prices-cta .header-button {
    padding: 10px 18px;
    border-radius: 4px;
  }

  .prices-cta .header-login-button > label {
    font-size: 14px;
  }

  .prices-header-img img {
    height: 30px;
  }

  .exchange-label {
    font-size: 40px;
  }

  .prices-main-container {
    overflow: auto;
    height: 100%;
  }

  .pair-list-container {
    position: relative;
  }

  .cta-pair {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .pair-list {
    overflow: auto;
    position: relative;
    bottom: -1000px;
    background-color: #ffffff;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 67vh;
    z-index: 8;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: bottom 0.3s ease;
    transition-delay: 0.1s;
  }

  .base-item-content {
    margin: 0.5em 0;
    max-width: unset;
  }

  .base-container {
    position: unset;
    width: unset;
    display: flex;
    flex-direction: column;
    padding: 3em 5px;
    max-height: 812px;
    min-height: 530px;
    height: calc(100vh - (6em));
  }

  .amount_price {
    font-size: 24px !important;
  }

  .max-width {
    width: 100%;
  }

  .prices-exchange-pair {
    position: relative;
    color: #0e0e0e;
    height: 25%;
    z-index: 1;
  }

  .prices-exchange-pair .root-content-numbers {
    font-size: 24px;
  }

  .root-content-items-calc {
    margin: 10% 0;
  }

  .prices-exchange-pair .exchange-text-box > label {
    font-size: 14px;
    line-height: 30px;
  }

  .prices-exchange-pair .exchange-divider {
    background-color: #0e0e0e;
  }

  .prices-exchange-pair .exchange-text-box > label > .strong {
    color: #0e0e0e;
  }

  .pair-prices .price {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .prices-exchange-pair {
    height: 25%;
  }

  .prices-exchange-pair .root-content-numbers {
    font-size: 22px;
  }

  .prices-exchange-pair .exchange-text-box > label {
    font-size: 10px;
    line-height: 28px;
  }
}

@media (max-width: 330px) {
  .cta-pair .exchange-label {
    font-size: 30px;
  }

  .cta-pair img {
    height: 30px;
  }

  .cta-pair .arrow-down {
    height: 20px;
  }

  .prices-header-img img {
    height: 22px;
  }
}

@media (max-height: 736px) {
  .root-content-items-calc {
    margin: 6% 0;
  }

  .pair-prices{
    border-left: 1px solid gray;
  }

}

@media (max-height: 667px) {
  .root-content-items-calc {
    margin: 2% 0;
  }
}

@media (max-height: 500px) {
  .root-content-items-calc {
    margin: 12% 0;
  }
}

@media (min-width: 900px) and (max-width: 1366px) {
  .pair-list {
    grid-template-rows: repeat(auto-fill, 100px);
    row-gap: 12px;
  }

  .prices-main-container {
    min-height: 500px;
  }

  .base-container {
    overflow: auto;
    height: calc(100% - (8em));
    grid-template-columns: 61% 1fr;
  }

  .base-item-text-cont h2 {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .base-item-content {
    height: 65px;
    width: 85%;
  }
  .item-content-active {
    height: 90px;
  }

  .root-content-items-calc {
    margin: 0 !important;
  }

  .pair-list {
    height: auto !important;
  }
}
