
.selectCountry{
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 25vh 1fr 1vh;
  /*background: #c1c1c1;*/
}


.LoaderAppTittle{
  display: grid;
  align-items: center;
  justify-items:center;
}
