/* fonts */
@font-face {
  font-family: 'AWConquerorSans-Light';
  src: url("AWConquerorSans-Light.eot?#iefix") format("embedded-opentype"), url("AWConquerorSans-Light.otf") format("opentype"), url("AWConquerorSans-Light.woff") format("woff"), url("AWConquerorSans-Light.ttf") format("truetype"), url("AWConquerorSans-Light.svg#AWConquerorSans-Light") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'BebasNeue';
  src: url("BebasNeue.eot?#iefix") format("embedded-opentype"), url("BebasNeue.otf") format("opentype"), url("BebasNeue.woff") format("woff"), url("BebasNeue.ttf") format("truetype"), url("BebasNeue.svg#BebasNeue") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'MuseoSans-100';
  src: url("MuseoSans-100.eot?#iefix") format("embedded-opentype"), url("MuseoSans-100.otf") format("opentype"), url("MuseoSans-100.woff") format("woff"), url("MuseoSans-100.ttf") format("truetype"), url("MuseoSans-100.svg#MuseoSans-100") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'MuseoSans-300';
  src: url("MuseoSans-300.eot?#iefix") format("embedded-opentype"), url("MuseoSans-300.otf") format("opentype"), url("MuseoSans-300.woff") format("woff"), url("MuseoSans-300.ttf") format("truetype"), url("MuseoSans-300.svg#MuseoSans-300") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'MuseoSans-500';
  src: url("MuseoSans-500.eot?#iefix") format("embedded-opentype"), url("MuseoSans-500.otf") format("opentype"), url("MuseoSans-500.woff") format("woff"), url("MuseoSans-500.ttf") format("truetype"), url("MuseoSans-500.svg#MuseoSans-500") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/* common */


body{
  /*overflow: scroll;*/
  overflow-y: scroll;
  background: transparent;
}



.landing.landing header {
  width: 100%;
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  justify-items: center;
}


.containerLanding{
  width: 100%;
  max-width: 1200px;
}

.landing.row-landing{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}


.landing.container-landing2{
 width: 100%;
 max-width: 1200px;
 display: grid;
 align-items: center;
 justify-items:center;
 justify-self:center;
 position: relative;
 z-index: 3;
}

.landing.landing .landing.top{
  display: grid;
}


.firstU{
  width: 100%;
  display:grid;
  max-width: 1200px;
}


.landing.container-landing{
  width: 100% !important;
  display: grid;
  justify-items:center;
}

.firstUCont{
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.landing.round-steps{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
}


.step-content-cont{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
}


.howWork{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  grid-column-gap: 50px;
}


.videoWrapper{
  height: 200px !important;
  /*width: 300px;*/
}


.FooterS{
  position: absolute;
  width: 100%;
  display: grid;
  justify-items: center;
  bottom: 0;
}



.FooterCont{
  padding-bottom: 70px !important;
  display: grid;
  width: 100%;
  justify-items: center;
}


.landingFooterCont{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.itemFooter{
  width: calc(100% - 30px) !important;
}

.landing2cont{
  grid-template-columns: 1fr 1fr;
}



@media only screen and (max-width: 768px) {

 .landingFooterCont{
    grid-template-columns: 1fr !important;
    grid-template-rows: auto;
 }

 .itemFooterImg{
   height: 60px;
 }

 .howWork{
   grid-template-columns: 1fr;
   grid-template-rows: auto;
 }

.landing.container-landing{
  width: calc(100% - 30px) !important;
  grid-row-gap: 15px;
}

.howWork{
  grid-row-gap: 25px;
}

.landingStepss{
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 25px;
}

.firstUCont{
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 30px;
}

.firstUCont>div{
  width: calc(100% - 30px) !important;
}

.landing2cont{
  grid-template-columns: 1fr !important;
}

}










































.landing.landing {
  font-family: 'MuseoSans-500';
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
  .landing.landing a, .landing.landing a:hover {
    text-decoration: none !important;
    outline: none; }
  .landing.landing .landing.container-landing {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
  .landing.landing .landing.row-landing {
    margin-right: -15px;
    margin-left: -15px; }
  .landing.landing .landing.span-full, .landing.landing .landing.span-3, .landing.landing .landing.span-4, .landing.landing .landing.span-5, .landing.landing .landing.span-6, .landing.landing .landing.round-steps .landing.step, .landing.landing .landing.step-content {
    float: left;
    padding: 0 15px; }
  .landing.landing .landing.text-left {
    text-align: left; }
  .landing.landing .landing.text-right {
    text-align: right; }
  .landing.landing .landing.text-center {
    text-align: center; }
  .landing.landing .landing.full-width {
    width: 100%; }
  .landing.landing .landing.pull-left {
    float: left; }



  .landing.landing #logo {
    margin-right: 20px;
    float: left; }
  .landing.landing .landing.buy-sell {
    float: left;
    color: #fff; }
  .landing.landing .landing.buy-sell p {
    margin-top: 1em;
    margin-bottom: 1em; }
  .landing.landing .landing.buy, .landing.landing .landing.sell {
    float: left;
    text-align: center; }
  .landing.landing .landing.buy {
    margin: 0 40px 0 120px;
    position: relative; }
  .landing.landing .landing.buy:before {
    content: '';
    height: 36px;
    border-right: 1px solid #fff;
    width: 1px;
    position: absolute;
    top: 20px;
    right: -20px;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  .landing.landing nav {
    float: right; }
  .landing.landing #menu-icon {
    display: none;
    width: 30px;
    height: 30px; }
  .landing.landing #menu-icon span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin-bottom: 10px; }
  .landing.landing nav ul {
    margin-top: 1em;
    list-style: none; }
  .landing.landing nav li {
    display: inline-block;
    float: left;
    padding: 10px 20px; }
  .landing.landing nav li a {
    color: #fff;
    text-decoration: none;
    font-family: 'MuseoSans-300';
    font-size: 22px;
    color: #0198ff;
    display: block; }
  .landing.landing .landing.footer {
    background: #030829;
    color: #fff; }
    .landing.landing .landing.footer a, .landing.landing .landing.footer span.landing.asLink {
      color: #1ac1dc;
      font-family: 'MuseoSans-100'; }
    .landing.landing .landing.footer ul li {
      list-style: none;
      padding: 5px 0; }
  .landing.landing .landing.footer .landing.top-skew {
    width: 100%;
    height: 140px;
    background: #030829;
    transform: skewY(3deg);
    transform-origin: top left;
    position: absolute;
    left: 0;
    top: -130px; }
  .landing.landing .landing.footer ul {
    margin: 0;
    padding: 0; }
  .landing.landing .landing.footer .landing.row {
    padding-bottom: 48px; }
  .landing.landing .landing.footer h4 {
    font-family: 'AWConquerorSans-Light';
    font-size: 24px;
    color: #2cfae3;
    font-weight: normal;
    margin-top: 8px; }
  .landing.landing .landing.footer .landing.socials {
    padding-top: 16px;
    font-size: 200%; }
  .landing.landing .landing.footer .landing.socials i {
    margin-right: 36px; }
  .landing.landing .landing.footer .landing.footer-copyright {
    background: rgba(255, 255, 255, 0.landing.1);
    padding: 12px;
    color: #eee;
    font-family: 'MuseoSans-100'; }
  .landing.landing .landing.layer {
    position: absolute;
    width: 100%;
    top: 0;
    background: url(../img/layer.png) center no-repeat;
    background-size: cover;
    height: 2894px;
    z-index: 2; }
  .landing.landing section {
    float: left;
    width: 100%;
    clear: both;
    position: relative; }
  .landing.landing section .landing.container-landing,
  .landing.landing .landing.footer {
    position: relative;
    z-index: 3; }
  .landing.landing .landing.top {
    padding: 200px 0;
    background: url(../img/top.jpg) bottom right no-repeat;
    background-size: cover;
    color: #fff;
    position: relative; }
  .landing.landing .landing.top .landing.bot-skew {
    width: 100%;
    height: 150px;
    background: #fff;
    transform: skewY(-3deg);
    transform-origin: top left;
    position: absolute;
    left: 0;
    bottom: -150px; }
  .landing.landing .landing.top a {
    color: #fff; }
  .landing.landing .landing.top h1 {
    font-family: 'MuseoSans-300';
    font-size: 50px;
    font-weight: normal;
    line-height: 60px;
    margin-top: 0; }
  .landing.landing .landing.top h1 .landing.big {
    font-family: 'MuseoSans-500';
    font-size: 100px;
    line-height: 120px;
    display: block; }
  .landing.landing .landing.top h1 .landing.col {
    font-size: 66px; }
  .landing.landing .landing.top .landing.round {
    border: 1px solid #fff;
    border-radius: 40px;
    font-family: 'MuseoSans-100';
    font-size: 31px;
    padding: 20px 60px;
    display: inline-block;
    margin-top: 30px; }
  .landing.landing .landing.bondades {
    padding: 100px 0 100px; }
  .landing.landing .landing.steps {
    padding: 200px 0 180px;
    background: #000e7e url(../img/middle.jpg) top left no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center; }
  .landing.landing .landing.steps h4 {
    font-family: 'AWConquerorSans-Light';
    font-size: 30px;
    font-weight: normal;
    margin-top: 32px;
    margin-bottom: 32px; }
  .landing.landing .landing.steps .landing.step-content p {
    font-family: 'MuseoSans-300';
    font-size: 18px;
    line-height: 24px;
    max-width: 75%;
    margin: 0 auto; }
  .landing.landing .landing.steps .landing.bot-skew {
    width: 100%;
    height: 150px;
    background: #fff;
    transform: skewY(-3deg);
    transform-origin: top left;
    position: absolute;
    left: 0;
    bottom: -150px; }
  .landing.landing .landing.steps .landing.top-skew {
    width: 100%;
    height: 150px;
    background: #fff;
    transform: skewY(3deg);
    transform-origin: top left;
    position: absolute;
    left: 0;
    top: -150px; }
  .landing.landing .landing.aprende {
    padding: 100px 0 200px; }
  .landing.landing .landing.bondades h2, .landing.landing .landing.aprende h2 {
    font-weight: normal;
    margin-bottom: 80px; }
  .landing.landing .landing.bondades h2 {
    margin-bottom: 112px; }
  .landing.landing .landing.bondades h2 span, .landing.landing .landing.aprende h2 span {
    position: relative;
    font-family: 'AWConquerorSans-Light';
    font-size: 52px;
    color: #000070; }
  .landing.landing .landing.bondades h2 span:before, .landing.landing .landing.aprende h2 span:before {
    content: '';
    position: absolute;
    top: -48px;
    right: 0;
    width: 39px;
    height: 44px;
    background: url(../img/ico-bondades.png) center no-repeat; }
  .landing.landing .landing.bondades h4 {
    font-weight: normal;
    margin-bottom: 32px; }
  .landing.landing .landing.bondades h4 span {
    position: relative;
    font-family: 'AWConquerorSans-Light';
    font-size: 32px;
    color: #22a3f8; }
  .landing.landing .landing.bondad-01:before, .landing.landing .landing.bondad-02:before, .landing.landing .landing.bondad-03:before {
    content: '';
    position: absolute;
    top: -48px;
    right: 0;
    width: 45px;
    height: 44px;
    background: url(../img/ico-clock.png) center no-repeat; }
  .landing.landing .landing.bondad-02:before {
    background: url(../img/ico-think.png) center no-repeat; }
  .landing.landing .landing.bondad-03:before {
    background: url(../img/ico-size.png) center no-repeat; }
  .landing.landing .landing.bondades p {
    font-family: 'MuseoSans-300';
    color: #230070;
    font-size: 18px;
    margin: 0 auto;
    max-width: 75%; }
  .landing.landing .landing.bondades .landing.round {
    border-radius: 40px;
    font-family: 'MuseoSans-100';
    font-size: 31px;
    padding: 19px 0 16px;
    display: inline-block;
    margin-top: 80px;
    position: relative;
    background: #1560dc;
    color: #fff;
    width: 300px;
    border: 4px double white; }
  .landing.landing .landing.aprende h4 {
    font-family: 'AWConquerorSans-Light';
    font-size: 24px;
    color: #222;
    line-height: 28px;
    margin: 28px 0; }
  .landing.landing .landing.round-steps .landing.step span {
    font-family: 'BebasNeue';
    position: relative;
    width: 72px;
    height: 72px;
    font-size: 52px;
    color: #fff;
    background: #39e4ed;
    display: inline-block;
    line-height: 78px;
    border-radius: 50%; }
  .landing.landing .landing.round-steps {
    position: relative; }
  .landing.landing .landing.round-steps:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 600px;
    background: #39e4ed;
    top: 36px; }
  .landing.landing .landing.round-steps .landing.step span:before {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    left: 3px;
    top: 3px;
    z-index: 2; }
  .landing.landing .landing.videoWrapper {
    position: relative;
    padding-bottom: 56.landing.25%;
    padding-top: 25px;
     }
  .landing.landing .landing.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  @media only screen and (max-width: 600px) {
    .landing.landing .landing.buy-sell {
      display: none; }
    .landing.landing header {
      height: 99px; }
      .landing.landing header .landing.container-landing {
        height: 100%;
        line-height: 68px; }
        .landing.landing header .landing.container-landing a.landing.cotizacion {
          margin-left: 24px;
          color: #f5f5f5;
          padding: 4px;
          border: 1px solid #fff;
          border-radius: 4px; }
        .landing.landing header .landing.container-landing a.landing.cotizacion:hover {
          text-decoration: none; } }
  @media only screen and (min-width: 600px) {
    .landing.landing header .landing.container-landing a.landing.cotizacion {
      display: none; } }
  @media only screen and (max-width: 767px) {
    .landing.landing .landing.span-full {
      width: 100%; }
    .landing.landing .landing.round-steps {
      display: none; }
    .landing.landing .landing.footer h4 {
      margin-top: 40px; }
    .landing.landing .landing.bondades h4 {
      margin-top: 80px; }
    .landing.landing .landing.top .landing.round {
      margin-bottom: 60px; }
    .landing.landing .landing.bondades h2 {
      margin-bottom: 40px; }
    .landing.landing .landing.steps {
      padding: 60px 0; }
    .landing.landing .landing.bondades {
      padding: 100px 0; }
    .landing.landing .landing.top {
      padding: 120px 0 100px; }
    .landing.landing .landing.text-right {
      text-align: center; } }
  @media only screen and (min-width: 768px) {
    .landing.landing .landing.container-landing {
      width: 750px; }
    .landing.landing .landing.span-3 {
      width: 25%; }
    .landing.landing .landing.span-4, .landing.landing .landing.round-steps .landing.step, .landing.landing .landing.step-content {
      width: 33.landing.33333333%; }
    .landing.landing .landing.span-5 {
      width: 20%; }
    .landing.landing .landing.round-steps:before {
      left: 120px;
      width: 500px; } }
  @media only screen and (max-width: 991px) {
    .landing.landing #menu-icon {
      display: inline-block;
      margin-top: 21px; }
    .landing.landing nav ul, .landing.landing nav:active ul {
      display: none;
      position: absolute;
      padding: 5px 20px;
      background: #fff;
      right: 15px;
      top: 30px;
      width: 50%;
      border-radius: 4px 0 4px 4px; }
    .landing.landing nav li {
      text-align: right;
      width: 100%;
      padding: 10px 0;
      margin: 0;
      border-bottom: 1px solid #ccc; }
    .landing.landing nav li:last-child {
      border: none; }
    .landing.landing nav:hover ul {
      display: block; }
    .landing.landing .landing.footer .landing.brand {
      width: 150px; }
    .landing.landing .landing.top {
      padding: 150px 0 100px; }
    .landing.landing .landing.bondades {
      padding: 100px 0; }
    .landing.landing .landing.steps {
      padding: 150px 0 100px; } }
  @media only screen and (min-width: 992px) {
    .landing.landing .landing.container-landing {
      width: 970px; }
    .landing.landing .landing.round-steps:before {
      left: 120px;
      width: 650px; }
    .landing.landing nav li a {
      color: white; } }
  @media only screen and (max-width: 1199px) {
    .landing.landing .landing.buy {
      margin-left: 40px; }
    .landing.landing .landing.top h1 {
      font-size: 36px;
      line-height: 40px; }
    .landing.landing .landing.top h1 .landing.big {
      font-size: 70px;
      line-height: 90px; }
    .landing.landing .landing.top h1 .landing.col {
      font-size: 42px; }
    .landing.landing .landing.aprende h4 {
      font-size: 30px; } }
  @media only screen and (min-width: 1200px) {
    .landing.landing .landing.container-landing {
      width: 1170px; }
    .landing.landing .landing.round-steps:before {
      left: 170px;
      width: 800px; } }
