#CountryWidgetComponent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 75%;
  position: relative;
}

#CountryWidgetComponent div {
  /*border: 1px solid red;*/
  display: grid;
}

#CountrySelector {
  position: absolute;
  z-index: 3;
  border-radius: 10px;
}

.countryGraphPriceLoader {
  margin-bottom: 10vh;
}

#CountrySelectorButton {
  position: absolute;
  width: 110px;
  height: 85px;
  align-self: flex-start;
  justify-self: center;
  top: -20px;
  display: grid;
  grid-template-rows: 1fr auto;
  z-index: 3;
  transition: 0.3s;
  border-radius: 4px;
  padding: 7px;
  cursor: pointer;
}

.CountrySelectorButtonimg img {
  position: absolute;
  justify-self: center;
  align-self: center;
}

#CountrySelectorButton:hover p {
  color: #23a6ff;
}

#CountrySelectorButton p {
  text-align: center;
  margin-bottom: 10px;
  color: gray;
  display: grid;
  align-items: center;
  /*grid-template-columns: auto auto;*/
  grid-template-columns: auto;
  justify-items: center;
  margin: 0 0 10px 0;
}

#CountrySelectorButton i {
  font-size: 17px;
  margin-left: 0px;
}

.CountrySelectorButtonimg {
  display: grid;
  position: relative;
}

.countryQuotePrice {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.countryQuotePrice div {
  display: grid;
  align-items: center;
  justify-items: center;
}

.cQuote h1 {
  font-size: 37px;
  color: #3e3e3e;
}

.cQuote span {
  margin-left: 10px;
}

.cQuote p {
  margin: 0;
  color: #00bf49;
  font-weight: 400;
}

.cQuote {
  height: 100%;
  max-height: 90px;
  align-self: center;
  font-size: 17px;
  font-weight: bold !important;
}

.quoteMovil {
  display: grid;
  grid-template-rows: 1fr 30px;
  grid-row-gap: 5px;
}

.controlQuoteMovil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.controlQItem {
  margin: 0;
  padding-bottom: 5px;
  opacity: 0.4;
  transition: 0.3s;
}

.controlQItem.active {
  border-bottom: 1px solid gray;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  #CountrySelectorButton {
    top: -40px;
  }

  .countryQuotePrice {
    grid-template-columns: 1fr !important;
  }

  .countryQuotePrice div {
    align-items: flex-end;
  }
}

/**/
