.menuPrincipal {
  background: #171d23;
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
  position: fixed;
  width: 19vw;
  top: 0;
  z-index: 3;
  left: 0;
}

.perfilPic.pending,
.perfilPic.confirmed {
  border: none !important;
}

.contCloseMprincipal {
  position: absolute;
  top: 12px;
  right: 15px;
  display: none;
}

.contCloseMprincipal i {
  font-size: 21px;
  color: white;
  cursor: pointer;
}

.putito {
  background: aliceblue !important;
  border-radius: 7px !important;
}
.putitoText {
  color: #129a8e !important;
  font-weight: bold !important;
  text-align: center !important;
}
.putitoProgress {
  background: #2ed781 !important;
}

.userInfo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7vh auto;
  width: 100%;
  justify-items: center;
  grid-gap: 7px;
  background: linear-gradient(to bottom right, #2b3742, #151b20);
  padding-bottom: 15px;
}

.perfilPiCont {
  position: relative;
}

.userName {
  color: #14b3f0;
  text-transform: capitalize;
} 

.logo {
  width: calc(100% - 22px);
  padding-left: 22px;
  display: grid;
  align-items: center;
}
.userInfo p {
  margin: 0 !important;
  font-size: 16px;
  color: white !important;
}

.userBalance {
  font-size: 13px !important;
}

.perfilPic.rejected {
  opacity: 0.5 !important;
  border: none !important;
  filter: grayscale(100%);
}

.contImgPicProfile {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 1;
  z-index: 2;
}

.perfilPic {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  background: #0198ff;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.3);
}

.perfilPic p {
  font-size: 20px;
  font-weight: bold;
}

.menuItems {
  width: 100%;
  height: calc(100% - 30px);
  background: linear-gradient(to bottom right, #2b3742, #101418);
  padding: 15px 0;
  -webkit-box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.menuItems.movil{
  padding: 30px 0 45px 0;
  height: calc(100% - 75px);
}

.mPverify {
  color: #05ff05;
  margin-left: 7px;
}

.closeSessionMo {
  position: absolute;
  bottom: 0;
  justify-self: center;
  color: white;
  font-size: 16px;
  text-align: left;
  margin-bottom: 25px;
  width: calc(100% - 30px);
  padding: 0 15px;
}

/*===========>  MENU MOVIL*/

.MovilMenuComponent {
  width: 100%;
  height: auto;
}

.section2.movil {
  display: grid;
  align-items: center;
  grid-gap: 0 !important;
  transform: scale(0.85);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.section2.movil:hover {
  background: black;
}

.section2.movil .menuMovilItemTexts {
  font-size: 18px;
  font-weight: bold;
  color: #fb6257 !important;
  display: flex;
  justify-content: center;
}

.menuMovilItemTexts i {
  color: #fb6257 !important;
  margin-left: 10px;
}

.menuMovilItemTexts.active i {
  color: white !important;
  margin-left: 10px;
}

.menuMovilItems {
  height: 45px;
  min-height: 50px;
  width: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0 20px;
}

.menuMovilItems.close {
  grid-template-columns: 1fr;
}

.menuMovilItems i {
  font-size: 15px;
  color: white;
}

.menuMovilItemTexts {
  margin: 0 !important;
  color: white;
  font-size: 15px;
  display: grid;
  grid-template-columns: 30px auto;
}

.menuMovilItemTexts.close {
  grid-template-columns: auto !important;
  text-align: center;
}

.menuMovilItemTexts i,
.menuMovilItemTexts .iconSty {
  margin-right: 15px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.menuMovilItems.inactive {
  opacity: 0.3;
}

.itemText {
  font-size: 14px !important;
}

.section2 {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-gap: 14px;
}
