.ReferralComponent{
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items:center;
}

.textReferral p{
  text-align: center;
}

.referralCont{
  width: calc(100% - 20px);
  max-width: 700px;
  height: calc(100% - 70px);
  padding: 35px 10px;
  display: grid;
  align-items: center;
  justify-items:center;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
}

.titleReferr{
  font-size: 22px;
  color: #3c3c3c;
  font-weight: bold;
}

.parraFerrer{
  font-size: 14px;
  color: gray;
  max-width: 600px;
}

.contReferral{
  width: 100%;
  height: 470px;
  display: grid;
  align-items: center;
  justify-items:center;
}

.contReferral .labelText{
  text-align: left !important;
  font-size: 18px;
  color: #3c3c3c !important;
  font-weight: bold;
}

.contReferral.desaparecer{
  transform: translateY(30px);
}


.contReferral.createReferralink{
  grid-template-rows: 55% 45%;
  grid-row-gap: 15px;
}


.formControl{
  width: 100%;
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  height: 220px;
}


.haveReferral{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(150px, 40%) minmax(250px, 60%);
  align-items: center;
  justify-items:center;
}






/*Referral Link Component share etc*/



.referralImg>img{
  position: absolute;
}

#gift{
  width: 120px;
  justify-self: center;
  align-self: end;
  transform: translateY(-20px);
}


#person1, #person2{
  height: 90%;
  position: absolute;
}

#person1{
  justify-self: start;
}

#person2{
  justify-self: end;
}


.referralImg{
  width:100%;
  max-width: 320px;
  display: grid;
  position: relative;
  height: 100%;
}

.ReferralLink p {
  margin: 0 !important;
}

.refeico{
 font-size: 20px;
}

.ReferralLink{
  width: calc(100% - 30px);
  max-width: 400px;
  height: 45px;
  border: 1px solid #50667a61;
  border-radius: 6px;
  display: grid;
  position: relative;
  transition: .5s;
  background: white;
  color: #3A7BD5;
  border: 1px solid #00D2FF;
  align-items: center;
  /*padding: 0 15px;*/
  padding-left: 35px;
  font-size: 14px;
  grid-template-columns: 0px auto;
}

.contReferralLink{
  width: 100%;
  height: 90px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
}

.buttonsReferralShare{
  width: 100%;
  max-width: 380px;
  height: 100%;
  background: linear-gradient(to bottom right, #2B3742, #101418);
  align-self: flex-start;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: grid;
  align-items: center;
  justify-items:center;
  color: white;
  font-size: 15px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.element1Ref{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto 1fr;
  grid-column-gap: 7px;
  font-size: 13px;
  cursor: pointer;
  height: 100%;
  padding: 0 15px;
}

.element1Ref:hover{
  color: #00D2FF;
}

.element1Ref p{
  margin: 0 !important;
}



#btcAward{
  width: 60px;
  justify-self: center;
  transform: translateY(20px);
}

.btcAwardAnim{
  animation-name: btcAwardAnim;
  animation-duration: 1s;
  animation-iteration-count: infitnite;
  animation-timing-function: ease-in-out;
}


@keyframes btcAwardAnim{

  0%{
    transform: translateY(20px);
  }

  0%{
    transform: translateY(20px);
  }

  100%{
    transform: translateY(20px);
  }

}

/*end*/








/*DashBoard referral Component*/

.DashBoardReferralComponent{
  width: 100%;
  max-width: 550px;
  height: 180px;
  display: grid;
  align-items: center;
  justify-items:center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  /*border: 1px solid gray;*/
  border-radius: 6px;
  background: white;
  position: relative;
  -webkit-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.18);
  box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.18);
  grid-column-gap: 15px;
}


.DashBoardReferralComponent p{
  margin: 0;
}


.iconsRef{
  width: 140px;
  height: 100%;
  position: absolute;
  align-self: center;
  justify-self:center;
  justify-items:center;
  display: grid;
  transform: translateY(-30px);
  grid-template-rows: auto 1fr;
}

.contIconRefCircle{
  height: 90px;
  width: 90px;
  display: grid;
  align-items: center;
  justify-items:center;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #2B3742, #101418);
  box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.18);
}

.logoCoinsen{
  height: 100%;
  display:grid;
  align-items: center;
}

.referralsCount, .referralAwards{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 30%;
  align-items: center;
  justify-items:center;
  color:#222b34;
  height: 100%;
  max-height: 130px;
}

.textRefer{
  text-align: center;
  font-weight: bold;
}

.textRefer1{
  text-align: center;
  font-size: 70px;
  margin: 0;
}

.withdrawButton{
  position: absolute;
  justify-self:center;
  bottom: -25px;
  height: 50px;
  width: auto;
  min-width: 25px;
  padding: 0 10px;
  border-radius: 6px;
  background: linear-gradient(to bottom right, #00D2FF, #3A7BD5);
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  grid-template-columns: 1fr auto;
}

.withdrawButton:hover .textCtaBut{
  width: 70px;
  opacity: 1;
}

.textCtaBut{
  opacity: 0;
  transition: .2s;
  width: 0px;
  height: 100%;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items:center;
  color:white;
}

.textCtaBut p {
  margin: 0 !important;
}


















/*end*/
