:root {
    --maxwsections:1280px;
    --primary_deg: #ffffff;
    --secondary_deg: #ffffff;
    --primary: #0198ff;
    --paragraph_color:#435768; 
    --title2:#2e3a46; 
    --title1:#0065a8;
    --skeleton_color:#dfdfdf;
    --placeholder:#96A3AF;
    --green_color:#219D6E;
    --background:#f9f9fb;
    --secondary_background:#f4f4f6;
    --red_background:#FFE0E0;
    --red_color:#FF0000;
    --orange_background:#FFF1E0;
    --orange_color:#FF8C00;
    
    /* --secondary_background:#ededf3; */

    touch-action: pan-x pan-y;
    --app-height: 100%;
     
}

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    @media not all and (hover:hover) {
        height: var(--app-height);
    }
}

.aparecer {
  transition: 0.2s;
  opacity: 1;
}

.labelText{
  color: var(--paragraph_color);
}

@media (max-width: 768px) {

  #security_loader .ItemSecurity {
    grid-template-columns: auto 1fr !important;
    grid-column-gap: 10px !important;
    height: auto !important;
    margin: 0 !important;
  }

  #security_loader .contentSubText {
    width: 90%;
    background: #cacaca;
    height: 20px;
    align-self: center;
    padding: 0 !important;
    border-radius: 6px;
    justify-self: center;
  }

  .SCimgItemCont {
    transform: scale(0.6) !important;
  }
  
}