:root {
    --primary_deg: #ffffff;
    --secondary_deg: #ffffff;
    --primary: #0198ff;
    --paragraph_color:#50667a; 
    --title2:#2e3a46; 
    --title1:#0065a8;
    --skeleton_color:#cacaca;
    --placeholder:#96A3AF;
    --green_color:#219D6E;
    --maxwsections:1280px;
}

.aparecer {
  transition: 0.2s;
  opacity: 1;
}

.labelText{
  color: var(--paragraph_color);
}

@media (max-width: 768px) {

  #security_loader .ItemSecurity {
    grid-template-columns: auto 1fr !important;
    grid-column-gap: 10px !important;
    height: auto !important;
    margin: 0 !important;
  }

  #security_loader .contentSubText {
    width: 90%;
    background: #cacaca;
    height: 20px;
    align-self: center;
    padding: 0 !important;
    border-radius: 6px;
    justify-self: center;
  }

  .SCimgItemCont {
    transform: scale(0.6) !important;
  }
  
}