:root {
    --primary_deg: #ffffff;
    --secondary_deg: #ffffff;
    --primary: #0198ff;
    --paragraph_color:#50667a; 
    --title2:#2e3a46; 
    --title1:#0065a8;
    --skeleton_color:#cacaca;
    --placeholder:#96A3AF;
}