.inputContainer,
.inputContainer3 {
  width: 100%;
  height: 45px;
  border: 1px solid #50667a61;
  border-radius: 6px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  position: relative;
  transition: 0.5s;
  background: white;
}

.inputElement.TwoFactorTypo {
  padding: 0 20px;
  width: calc(100% - 40px);
  font-size: 25px !important;
  text-align: center;
  letter-spacing: 12px;
  color: #7995af;
}

.inputElement.TwoFactorTypo::placeholder {
  color: #50667a4d;
}

.inputCountryLoader {
  position: absolute;
  z-index: 2;
  opacity: 0.8;
  background: white;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.InputFormCoin input,
.read_only {
  font-family: "Tomorrow", sans-serif;
}

.AuthLoader {
  transform: scale(0.8);
}

.inputElement.Verify {
  color: #4caf50 !important;
}

.inputElement.NoVerify {
  color: #f44336;
}

.contIconAddress {
  position: absolute;
  align-self: center;
  right: 13px;
}

.inputAuths {
  max-width: 410px !important;
}

.inputContainer.inputAuths {
  height: 50px !important;
}

.inputAuths .lds-ellipsis {
  top: -10px !important;
}

.coinBalance2 {
  right: 10px !important;
}

.ReadReceiveCoinLoader {
  position: absolute;
  align-self: center;
  justify-self: center;
}

.ReadReceiveCoin {
  position: relative;
}

.coinB2 p {
  margin: 0 10px !important;
  text-transform: capitalize;
}

.coinB2 i {
  font-size: 20px;
}

.coinB2 {
  display: flex;
  align-items: center;
  width: auto;
  min-width: 100px;
  position: relative;
  height: 60%;
  border-left: 1px solid gray;
  padding-left: 14px;
  justify-content: space-between;
}

.coinBalance,
.coinBalance2 {
  cursor: pointer;
  position: absolute;
  display: flex;
  right: 5px;
  color: gray;
  height: 100%;
  /*display: grid;*/
  display: flex;
  align-items: center;
  transition: 0.15s;
  transform: scale(1);
  /*grid-template-columns: 1fr;*/
}

.coinBalance:hover,
.coinBalance2:hover {
  transform: scale(1);
  color: #b48728 !important;
}

.coinBalance p {
  margin: 0 10px 0 0 !important;
}

.inputContainer3 {
  display: grid;
  align-items: center;
  padding-bottom: 7px;
  height: calc(100% - 7px);
}

.PhoneamEsta_icon.anim {
  animation: flip-2-hor-bottom-fwd 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

.inputContainer3 > form {
  height: 100% !important;
  display: grid;
  align-items: center;
}

.inputPhone {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.inputComponentPhone.openS {
  /*padding: 0 15px;*/
  width: calc(100% - 30px);
}

.inputComponentPhone.search_result {
  height: calc(100% - 7px);
  display: grid;
  align-items: center;
}

.inputComponentPhone {
  height: 50%;
  width: 0%;
  transition: 0.3s;
}

.inputComponentPhone p {
  margin: 0;
}

.search_result_kyc.openS {
  opacity: 1;
}

.search_result_kyc {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 32px;
  width: auto;
  max-width: 240px;
  position: relative;
  font-size: 20px;
  color: #50667a;
  padding: 5px 15px;
  /*display: flex;*/
  align-items: center;
  background: #f4f4f4;
  border-radius: 6px;
  margin: 0 10px !important;
  transition: 0.15s;
  opacity: 0;
}

form#phone {
  height: 100% !important;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  transition: 0.3s;
  position: relative;
}

.PhoneamEsta.openS {
  width: calc(100% - 90px);
}

.PhoneamEsta_img {
  border-radius: 50%;
}

.PhoneamEsta_icon {
  color: #50667a;
  transition: 0.2s;
}

.PhoneamEsta:hover .PhoneamEsta_icon,
.PhoneamEsta:hover .PhoneamEsta_p {
  color: #e8b342 !important;
}

.PhoneamEsta {
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  position: relative;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: calc(20% - 30px);
  min-width: 94px;
  z-index: 2;
  background: white;
}

.PhoneamEsta::before {
  width: 10px;
  height: 100%;
  background: black;
}

.linePhone {
  position: absolute;
  right: 0;
  width: 1px;
  height: 60%;
  background: #50667ad1;
}

.PhoneamEsta_p {
  transition: 0.2s;
  margin: 0 0 0 12px;
  font-size: 18px;
  color: #50667a;
  min-width: 50px;
}

.read_only {
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: gray;
}

.statusInput2 {
  color: gray;
  margin: 0;
  position: absolute;
}

.statusInputs {
  color: red;
  text-align: center;
  margin: 50px 0 0 0;
}

.InputProgressBar {
  height: 7px;
  width: 100%;
  background: #8080802e;
  position: absolute;
  bottom: 0;
}

.InputProgressBar.countryppp {
  height: 4px;
  width: 100%;
  background: #8080802e;
  position: absolute;
  bottom: 0;
}

.InputProgressed {
  transition: 0.3s;
  height: 100%;
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
}

.blocker {
  position: absolute;
  z-index: 2;
  background: transparent;
  width: 100%;
  height: 100%;
}

.cerratelo {
  position: absolute;
  right: 15px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
}

.cerratelo:hover {
  transform: scale(1.25);
}

.cerratelo:active {
  transform: scale(0.7);
}

.ctaInputKyc {
  transition: 0.3s;
  position: absolute;
  height: calc(100% - 7px);
  right: 0;
  width: 50px;
  padding-right: 5px;
  align-items: center;
  display: grid;
  background: white;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*backface-visibility: hidden;*/
  cursor: pointer;
}

.contCtaKyc {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
}

.backInputKyc {
  align-self: center;
  justify-self: center;
  position: absolute;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  right: initial !important;
}

.frontInputKyc {
  align-self: center;
  justify-self: center;
  position: absolute;
  transform: rotateX(180deg);
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 35px;
  color: #0066aa;
}

.ctaInputKyc.openPhone {
  animation: flip-horizontal-bck 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

@keyframes flip-horizontal-bck {
  0% {
  }

  50% {
    transform: translateZ(0) rotateX(0);
  }

  100% {
    transform: translateZ(-260px) rotateX(180deg);
  }
}

.arrowcito,
.arrowcito2 {
  color: #0066aa;
  font-size: 33px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.arrowcito2 {
  opacity: 0;
  margin-bottom: 5px;
  font-size: 26px;
  transition: 0.3s;
}

.aparecer {
  transition: 0.2s;
  opacity: 1;
}

.arrowcito2:hover {
  transform: scale(1.15);
}

.arrowcito2:active {
  transform: scale(0.8);
}

.InputCarous {
  height: auto;
  width: 100%;
  position: absolute;
  transition: 0.3s;
  top: 0;
  /* top: -40px; */
}

.inputLabelsCont {
  width: 100%;
  height: 40px;
  overflow: hidden;
  position: relative;
}

.inputContainer2 {
  width: 100%;
  height: 45px;
  border: 1px solid #50667a61;
  border-radius: 6px;
  display: grid;
  position: relative;
  transition: 0.5s;
}

.inputElement,
.inputElement3 {
  color: #50667a;
  width: calc(100% - 20px);
  height: 100%;
  background: 0 0;
  padding: 0 10px;
  border: 1px solid transparent;
  outline: 0;
  font-size: 16px;
  transition: 0.5s;
}

.inputElement3.phone.openS {
  width: calc(20% - 30px);
  opacity: 0;
}

.inputElement3.phone {
  padding: 0 15px;
  font-size: 20px !important;
  width: calc(80% - 30px);
  max-width: calc(100% - 154px);
  position: absolute;
  right: 0;
}

.inputElement3 {
  padding: 0 15px;
  font-size: 20px !important;
  width: calc(100% - 30px);
}

.inputElement3::placeholder {
  color: #50667a4d !important;
}

.inputElement3::-webkit-input-placeholder {
  color: #50667a4d !important;
}

/* WebKit */
.inputElement3::-moz-placeholder {
  color: #50667a4d !important;
}

/* Firefox 19+ */

.inputElement3[type="date"]::-webkit-inner-spin-button {
  display: none;
}

.inputElement3[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.inputElement3[type="date"]::-webkit-clear-button {
  display: none;
}

.inputElement3[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.inputElement2 {
  color: #3a7bd5;
  width: calc(100% - 70px);
  /*height: 100%;*/
  height: 90px;
  background: 0 0;
  padding: 0 10px 0 60px;
  border: 1px solid transparent;
  outline: 0;
  font-size: 90px;
  transition: 0.5s;
  text-align: center;
  border-bottom: 1px solid #3a7bd5;
}

.inputElement2::placeholder {
  color: #3a7bd5;
  /*font-size: 90px;*/
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 650px;
  overflow: hidden;
  font-size: 40px;
}

.signoPesos {
  color: #3a7bd5;
  /*font-size: 90px;*/
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 650px;
  overflow: hidden;
}

.statusInput {
  margin: 0 !important;
  color: red;
}

.statusInput i {
  color: #59b200;
  margin: 0 10px;
}

.inputDeposit {
  opacity: 0;
}

.AuthInputComp {
  grid-template-rows: 1fr 25px;
  justify-items: center;
}

.containerInputComponent2.openS {
  transition: 0.6s;
  transform: scale(0.9) translateX(10px);
}

.containerInputComponent,
.containerInputComponent2,
.containerInputComponent3 {
  height: 100px;
  width: 100%;
  max-width: 450px;
  position: relative;
  display: grid;
  align-items: center;
}

.containerInputComponent3 {
  width: calc(100% - 20px) !important;
  padding: 0 10px !important;
}

.containerInputComponent2 {
  transition: 0.4s;
  grid-template-rows: 40px 1fr 20px !important;
  grid-gap: 10px !important;
  height: 150px !important;
}

#kycPrime.containerInputComponent2 {
  width: 650px;
  max-width: 650px !important;
  min-width: 450px;
}

#kycPrime.containerInputComponent3 {
  max-width: 600px !important;
}

.containerInputComponent3 {
  grid-template-rows: 40px 1fr 20px !important;
  grid-gap: 15px !important;
  height: 150px !important;
}

.InputContainerT {
  position: relative;
  display: grid;
  align-items: center;
}

.InputContainerT p {
  margin: 0 !important;
}

.Inputmsg {
  font-size: 15px;
}

.InputStep {
  position: absolute;
  right: 0;
  color: #0066aa;
}

.labelText,
.labelText2,
.labelText3 {
  text-align: center;
  color: #50667a;
  margin: 15px 0;
}

.labelText3 {
  font-size: 20px;
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.labelText2 {
  text-align: left !important;
  font-size: 24px;
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
}

.country_selected p {
  margin: 0;
}

.country_selected svg {
  margin-right: 15px;
}

.country_selected {
  background: #f3f3f3;
  height: 76%;
  display: flex;
  align-items: center;
  max-width: 200px;
  margin: 0 15px;
  padding: 0 15px;
  color: gray;
  position: relative;
  border-radius: 6px;
}

.inputContainer.inputActivado {
  border: 1px solid #00d2ff;
}

.inputContainer3.inputActivado {
  border: 1px solid #00d2ff;
}

.inputElement.inputActivado {
  color: #3a7bd5;
}

.inputContainer2.inputActivado {
  border: 1px solid #00d2ff;
}

.inputElement2.inputActivado {
  color: #3a7bd5;
}

.InputDropDown.activeText {
  color: #3a7bd5;
}

.InputDropDown {
  width: calc(100% - 20px);
  height: 100%;
  padding: 0 10px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45px;
  align-items: center;
  cursor: pointer;
  color: #50667a;
}

.InputDesplegable {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45px;
  background: white;
  position: absolute;
  top: 47px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid transparent;
  /*border: 1px solid #50667a61;*/
  transition: 0.2s;
  height: 0px;
  cursor: pointer;
}

.Idesplegado {
  border: 1px solid #50667a61 !important;
  /*height: auto !important;*/
}

.InputDesplegable p:hover {
  background: #50667a61;
}

.InputDesplegable p {
  cursor: pointer;
  transition: 0.2s;
  margin: 0;
  height: 45px;
  border-bottom: 1px solid #50667a61;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.width-adapt-child {
  width: 100%;
  padding: 0 !important;
}

.with-adapt {
  width: 58vw;
  max-width: 600px;
}
