.nWcta2 {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 22px !important;
  /*grid-template-columns: repeat(2, 1fr);*/
  /*width: 400px;*/
  justify-self: center;
}

.finalTicket.ticketHeader {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 2px solid white;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  row-gap:20px;
}

.finalTicket.TicketTitle {
  color: white;
  margin: 0 !important;
  font-size: 22px;
  display: flex;
  align-items: center;
}

.fuenteTicket .iconSty {
  margin-left: 10px;
}

.fuenteTicket {
  color: white;
  display: flex;
}
