.centerItem img {
  border-radius: 50%;
}

.span_text_itemView {
  font-size: 17px;
  color: #50667a;
}

.span_text_itemView.ultimate {
  text-align: left !important;
  padding: 0 20px;
}

.itemActiveListView .bigEgg {
  animation-name: bigEgg !important;
}

.itemActiveListView .egg {
  animation-name: egg2 !important;
}

.optionsLIV .active_account {
  opacity: 0.3;
  transition: 0.1s;
}

.optionsLIV {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: right;
  color: gray;
}

.controlDespegableLIV {
  max-width: 150px;
  height: auto;
  position: relative;
  display: grid;
  right: 10px;
  transition: 0.3s;
  width: auto;
}

.itemActiveListView .active_account {
  opacity: 1 !important;
}

.span_text_itemView img {
  margin-right: 10px;
  border-radius: 50%;
}

.span_text_itemView {
  display: flex;
  align-items: center;
}

/*.ItemlistViewart:hover .forrillo{
  width: 50px;
}*/
.forrillo {
  width: 50px !important;
}

.sinForri,
.forrillo {
  overflow: hidden;
  width: 0;
  transition: 0.3s;
  /*width: 50px;*/
  position: relative;
  align-self: center;
  right: 0;
}
